.infoContainer {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: available;
    background-color: yellow;
    color: black;
    /*overflow: auto;*/
}
