.infoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: available;
    flex: 2;
    background-color: black;
    color: yellow;
    overflow: auto;
}