.entry{
    position: absolute;
    left: 0;
    top: 50px;
    display: flex;
    flex-direction: row;
}

.entryDot {
    width: 28px;
    height: 28px;
    border-radius: 100%;
    background-color: black;
    border-color: yellow;
    border-width: 2px;
    border-style: solid;
}