.timeline{
    position: relative;
    display: flex;
    height: 100%;
    margin-left: 120px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 30px;
}

.line{
    position: relative;
    background-color: yellow;
    margin-left: 13px;
    width: 3px;
    height: inherit;
}

.initialDot{
    position: absolute;
    left: 0;
    top: 0;
    background-color: yellow;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    z-index: 1;
}

.content {
    position: absolute;
    top: 50px;
    display: flex;
    flex-direction: column;
}

.aboutMe{
    margin-left: 40px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}