.contactContainer{
    display: flex;
    flex-direction: row;
    color: white;
    width: fit-content;
}

.contactContainer:not(:first-child){
    margin-top: 5px;
}

.contactIcon{
    width: 23px;
    text-align: center;
}

.contactText{
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    margin-left: 10px;
}
