.nameContainer{
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
}

.firstName{
    font-size: 150px;
    line-height: 120px;
}

.lastName{
    font-size: 70px;
    line-height: 73px;
}



