.entry{
    position: relative;
    display: flex;
    flex-direction: row;
    font-family: 'Nunito', sans-serif;
}

.entry:not(:nth-child(2)){
    margin-top: 10px;
}

.entryYear{
    position: absolute;
    left: -75px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 300;
    font-size: small;
    width: 60px;
    text-align: right;
    word-break: break-word;
}

.entryText{
    margin: auto auto auto 10px;
    white-space: nowrap;
}

.entryTitle{
    font-weight: 600;
}

.entryDot {
    width: 26px;
    height: 26px;
    border-radius: 100%;
    background-color: black;
    border-color: yellow;
    border-width: 2px;
    border-style: solid;
}