.entry {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Nunito', sans-serif;
    margin-top: 10px;
    min-width: 250px;
}

.entryYear {
    position: absolute;
    left: -75px;
    top: 6px;
    font-weight: 600;
    font-size: small;
    width: 60px;
    text-align: right;
    word-break: break-word;
}

.entryText {
    margin: auto auto auto 10px;
}

.entryTitle {
    font-weight: 700;
}

.entryDescription{
    font-size: small;
    font-weight: 400;
    white-space: pre-line;
    max-width: 250px;
    word-wrap: break-word;
}


.entryDot {
    min-width: 26px;
    min-height: 26px;
    width: 26px;
    height: 26px;
    border-radius: 100%;
    background-color: white;
    border-color: #003e74;
    border-width: 2px;
    border-style: solid;
}
