.welcomeContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: available;
}

.me{
    position: relative;
    background-color: #003e74;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom-right-radius: 30px;
}
